python-telegram-bot==20.3  # O la versión más reciente compatible con tu código
mysql-connector-python #conectar a mi Base de Datos MySLQ
python-dotenv  # Opcional, si decides usar .env
certifi  # En caso de que tengas problemas de certificados