python-telegram-bot==20.0b1  # O la versión más reciente compatible con tu código
mysql-connector-python
python-dotenv  # Opcional, si decides usar .env
certifi  # En caso de que tengas problemas de certificados